* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.782);
    color: white;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    flex-wrap: wrap;
}

.home-content {
    max-width: 600px;
}
.home-content h1 {
    font-size: 3rem;
    margin: 20px;
}
.home-content h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.home-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}
.social-media a {
    font-size: 2rem;
    transition: color 0.3s ease;
}
.social-media a:hover {
    color: lightseagreen;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: lightseagreen;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: blue;
}

.home-img {
    max-width: 400px;
    flex: 1;
    display: flex;
    justify-content: center;
}
.home-img img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 25px black;
}

#skills {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    justify-content: space-between;
}
#skills .skill-card {
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 1%;
    margin: 1%;
    border-radius: 5%;
    align-items: center;
    transition: margin 0.3s ease;
}
#skills .skill-card:hover {
    box-shadow: 0 10px 25px black;
    margin: 25px;
}
#skills p {
    padding: 10px;
    text-align: justify;
}
#skills img {
    width: 30%;
}

@media (max-width: 900px) {
    .home {
        flex-direction: column-reverse;
        padding: 50px 5%;
        align-items: flex-start;
    }
    .home-content {
        max-width: 100%;
    }
    .social-media {
        justify-content: left;
    }
    .home-img {
        padding-bottom: 30px;
    }

    #skills {
        grid-template-columns: auto auto;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 5%;
        justify-content: space-between;
    }
    #skills .skill-card {
        border-radius: 10%;
    }
    #skills .skill-card:hover {
        margin: 5px;
    }
    #skills p {
        padding: 1%;
        font-size: 1em;
    }
    #skills h3 {
        font-size: 1em;
    }
    #skills img {
        width: 30%;
    }
}